@model IEnumerable<Gamification.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

<h4>Kvizovi su poredani po težini, odnosno po levelu kviza. Skupljanjem xp-a otključavaju se novi kvizovi. Na profilu možeš vidjeti trenutno stanje xp-a. Što je veći level kviza, dobiješ više xp-a. </h4>
<br />
<h3>Dostupni kvizovi</h3>


<p>
    @*@Html.ActionLink("Napravi novi", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            <h3>Naziv Kviza</h3>
        </th>
        <th>
            <h3>Level Kviza</h3>
        </th>
        <th>
            <h3>Ocjena</h3>
        </th>
    </tr>

@foreach (var item in Model) {
    if ( item.QuizLevel < 2 && !item.UserQuizData.Any(q=>q.UserId == ViewBag.UserId))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
           
            @Html.ActionLink("Pokreni kviz", "StartQuiz", new { id = item.Id })
        </td>
    </tr>
    }
    if (ViewBag.xp >= Model.Where(q => q.QuizLevel == 1).Count() && item.QuizLevel == 2 && !item.UserQuizData.Any(q => q.UserId == ViewBag.UserId))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
               
                @Html.ActionLink("Pokreni kviz", "StartQuiz", new { id = item.Id })
            </td>
        </tr>
    }

}


</table>
