@model Gamification.Models.UserScore
@{
    ViewBag.Title = "Score";
    string message = ViewBag.Message;
}
<script>
    if(@message != null){
        alert('@message')
    }
  
</script>


<h2>
   Rezultat: @Html.DisplayFor(model => Model.score) / @ViewBag.NumberOfQuestions
</h2>
    <br />
<h2>@Html.DisplayFor(model => model.Percentage) %</h2>


<br />
<hr />


<h4>Ocijeni kviz</h4>
@using (Html.BeginForm())
{
    <div class="radio">
        @Html.RadioButtonFor(model => Model.Rate, 1) <p>1</p>
        @Html.RadioButtonFor(model => Model.Rate, 2)<p>2</p>
        @Html.RadioButtonFor(model => Model.Rate, 3)<p>3</p>
        @Html.RadioButtonFor(model => Model.Rate, 4)<p>4</p>
        @Html.RadioButtonFor(model => Model.Rate, 5)<p>5</p>
    </div>
<input type="submit" value="Ocijeni" />
}


<br />
    @*@Html.ActionLink("Popis kvizova", "Index", "Quizs")*@
