@model Gamification.Models.IndexViewModel
@{
    ViewBag.Title = "Profil";
}
<link href="~/Content/CustomLinks.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        $(".flip").click(function () {
            //alert('asdsd');
            //$(this).find(".panel").slideToggle("slow");
            $(this).next(".panel").slideToggle("slow");
        });
    });
</script>



<div class="container">
    <div style="padding:20px; ">
        <img src="~/Content/Images/@Model.ImageUrl" style="width:150px;height:150px" class="img-responsive img-rounded" /> 
    </div>
    <a style="color:grey" href="Manage/UploadImage">Promijeni sliku profila</a>
    <h2 style="font-weight:bold">@Model.UserName</h2>
    <div style="width:auto">
        <p class="title">@Model.Title</p>
    </div>
    
    <div class="flip" style="text-align:left;color:grey">
        <a style="color:grey">Promijeni ime</a>
    </div>
  <div class="panel" style="text-align:left">
      @using (Html.BeginForm("EditName", "Manage", FormMethod.Post))
      {
      <p>Novo ime: </p><input type="text" name="name" />
      <input type="submit" value="Promijeni" />
      }
  </div>
 
</div>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><h4>Level:</h4></dt>
        <dd >
            <h4> @ViewBag.UserLevel </h4>
        </dd>
        <dt><h4>XP:</h4></dt>
        <dd>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="@ViewBag.style">
                    @ViewBag.xp / @ViewBag.NextLevel
                </div>
            </div>
        </dd>
        
            <dt><h4>Broj riješenih kvizova:</h4>
        
        </dt>
        
        <dd>
            
            <h4> @ViewBag.NumberOfSolvedQuizes    <span style="display:inline-block; padding-left:100px">HTML&CSS: @ViewBag.NumberOfHTML </span>  <span style="display:inline-block; padding-left:100px">JavaScript: @ViewBag.NumberOfJS </span> <span style="display:inline-block; padding-left:100px">ServerSide: @ViewBag.NumberOfServer </span></h4>
           
            
        </dd>
        <dt><h4>Broj osvojenih trofeja:</h4></dt>
        <dd>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="@ViewBag.styleAch">
                    @ViewBag.NumberOfAchievementsUser / @ViewBag.NumberOfAchievements
                </div>
            </div>


        </dd>
        
        <dt><h4>Broj pročitanih tutoriala:</h4></dt>
        <dd>

            <h4> @ViewBag.NumberOfTutorials</h4>

        </dd>
        <dt><h4>Prosječna uspješnost na kvizovima:</h4></dt>
        <dd>

            <h4> @ViewBag.Accuracy</h4>

        </dd>
    </dl>
</div>
<br />

<h4 style="font-weight:bold">Ostvareni trofeji:</h4>

<table class="table">
    <tr>
       <th>

       </th>
        <th>
            <h4>Naziv trofeja</h4>
        </th>
        <th>
            <h4>Opis</h4>
        </th>
        <th>
            <h4>Tip trofeja</h4>
        </th>
    </tr>

    @*@foreach (var category in Model.AchievementCategory)
    {
        foreach (var item in category.Achievement.Where(a=>a.UserQuizData.Any(u=>u.UserId==ViewBag.UserId)))
        {
            <tr style="font-weight:bold">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }
    }*@



    @foreach (var item in Model.Achievements)
    { 

            <tr style="font-weight:bold">
                <td style="max-height:40px;max-width:40px">
                    <img src="~/Content/Images/@item.AchievementCategory.ImageUrl" style="display:block;height:100%; max-height:40px" class="img-responsive img-rounded"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AchievementCategory.Name)
                </td>
            </tr>
    }

</table>
<br />
@Html.ActionLink("Dostupni trofeji", "Index", "Achievements", null, new { @class="btn-default"})
<br />

<br />
@{
    if (Model.isAdmin)
    {
        <hr />
        @Html.ActionLink("Dodaj trofej", "Create", "Achievements", null, new { @class = "btn-default" })        <br />
        <br />
        @Html.ActionLink("Napravi novi kviz", "create", "Quizs", null, new { @class = "btn-default" })        <br />
        <br />
        @Html.ActionLink("Dodaj novu kategoriju", "Create", "QuizCategories", null, new { @class = "btn-default" })
    }
}

