@model IEnumerable<Gamification.Models.AchievementCategory>

@{
    ViewBag.Title = "Trofeji";
}


<br />
<h4 style="text-align:center">Svi dostupni trofeji</h4>
<br />
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            <h4 style="font-weight:bold">Ime</h4>
        </th>
        <th>
            <h4 style="font-weight:bold">Opis</h4>
        </th>
        <th>
            <h4 style="font-weight:bold">Tip trofeja</h4>
        </th>
        
        <th></th>
    </tr>


   @foreach (var cat in Model)
   {

    foreach (var item in cat.Achievement )
    {
        if (item.UserQuizData.Contains(item.UserQuizData.FirstOrDefault(u => u.UserId == ViewBag.UserId)))
        {
            <tr>
                <td style="max-height:40px;max-width:40px">
                    <img src="~/Content/Images/@item.AchievementCategory.ImageUrl" style="display:block;height:100%; max-height:40px" class="img-responsive img-rounded" />
                </td>
                <td>
                    <h4> @Html.DisplayFor(modelItem => item.Name)  </h4>
                </td>
                <td>
                    <h4> @Html.DisplayFor(modelItem => item.Description)   </h4>

                </td>
                <td>
                    <h4> @Html.DisplayFor(modelItem => item.AchievementCategory.Name)  </h4>
                </td>
                <td> <h4 style="color:green"> Osvojeni trofej! </h4> </td>

            </tr>
        }
        else
        {
            <tr>
                <td style="max-height:40px;max-width:40px">
                    <img src="~/Content/Images/@item.AchievementCategory.ImageUrl" style="display:block;height:100%; max-height:40px" class="img-responsive img-rounded" />
                </td>
                <td>
                    <h4>  @Html.DisplayFor(modelItem => item.Name) </h4>
                </td>
                <td>
                    <h4>  @Html.DisplayFor(modelItem => item.Description) </h4>
                </td>
                <td>
                    <h4> @Html.DisplayFor(modelItem => item.AchievementCategory.Name)  </h4>
                </td>
                <td></td>

            </tr>
        }

    }


   }

</table>
