@model IEnumerable<Gamification.Models.QuizCategory>

<link href="~/Content/CustomLinks.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        $(".flip").click(function () {
            //alert('asdsd');
            //$(this).find(".panel").slideToggle("slow");
            $(this).next(".panel").slideToggle("slow");
        });
    });
</script>

@{
    ViewBag.Title = "Index";
}

<h4 style="padding-top:30px; text-align:center">Pročitao si sve tutoriale? Sada je vrijeme za provjeru znanja. 
    </h4>
<br />
<h4 style="padding-top:30px; text-align:center">
   
    Ovdje su svi dostupni kvizovi sortirani po kategorijama. Riješavanjem kvizova niže razine otključavaju se kvizovi više razine.
</h4>


<br/>

@{ 
    int Level = 1;
}

@{ 

    foreach (var category in Model)
    {

        
            
            if (category.Id == 1) { Level = ViewBag.LevelHTML; }
            if (category.Id == 2) { Level = ViewBag.LevelJS; }
            if(category.Id == 3) { Level = ViewBag.LevelServer; }
        

        <div class="flip">
            <h4 style="font-weight:bold"> @Html.DisplayFor(cName => category.Name)</h4>
        </div>

        <div class="panel">
            <table class="table">
                <tr>
                    <th style="text-align:center">
                        <h4 style="font-weight:bold">Naziv Kviza</h4>
                    </th>
                    <th style="text-align:center">
                        <h4 style="font-weight:bold">Razina Kviza</h4>
                    </th>
                    <th style="text-align:center">
                        <h4 style="font-weight:bold">Ocjena</h4>
                    </th>
                    <th></th>
                </tr>
                
               

                    @foreach (var item in category.Quiz)
                {



                        if (item.QuizLevel == Level &&  !item.UserQuizData.Any(q => q.UserId == ViewBag.UserId))
                        {
                        <tr>
                            <td>
                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            </td>
                            <td>
                                <h4>@Html.DisplayFor(modelItem => item.QuizLevel)</h4>
                            </td>
                            <td>
                                <h4>@Html.DisplayFor(modelItem => item.Rating)</h4>
                            </td>
                            <td>

                                @Html.ActionLink("Pokreni kviz", "StartQuiz", new { id = item.Id , addScore=true}, new { @class = "btn-default" })
                            </td>
                        </tr>
                        }



                    }




            </table>
        </div>
    }


}

<br />
<h4 style="padding-top:30px; text-align:center">Probaj ponovno riješiti kvizove. Za ponovljene kvizove se ne dobivaju bodovi i trofeji.</h4>
<div style="text-align:center">
    @Html.ActionLink("Popis riješenih kvizova", "CompletedQuizzes", null, new { @class = "btn-default" })
</div>



