@model Gamification.Models.UserQuizData

@{
    ViewBag.Title = "Profil";
}
<link href="~/Content/CustomLinks.css" rel="stylesheet" />


<div class="container">
    <div style="padding:20px; ">
        <img src="~/Content/Images/@Model.ImageUrl" style="width:150px;height:150px" class="img-responsive img-rounded" />
    </div>
    <h2>@Model.UserName</h2>

</div>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><h4>Level:</h4></dt>
        <dd>
            <h4> @Model.UserLevel </h4>
        </dd>
        <dt><h4>XP:</h4></dt>
        <dd>
            
               <h4>@Model.xp</h4>
            
        </dd>
        <dt><h4>Broj riješenih kvizova:</h4></dt>
        <dd>

            <h4> @Model.NumberOfSolvedQuizes</h4>

        </dd>
     
        <dt><h4>Prosječna uspješnost na kvizovima:</h4></dt>
        <dd>

            <h4> @Model.Accuracy</h4>

        </dd>
    </dl>
</div>
<br />



<br />

<h4>Ostvareni trofeji:</h4>

<table class="table">
    <tr>
        <th>
            <h4>Naziv trofeja</h4>
        </th>
        <th>
            <h4>Opis</h4>
        </th>
    </tr>

    @foreach (var item in Model.Achievement)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>




    }


</table>
<br />



